/**bem**/

:root {
    --colortxt_T1: #262626;
    --colorT2: #FC7753;
    --colorA: #E01A4F;
    --colornav_f: #BE95C4;
    --colorf: #7D5B82;
    --colorbox: #F4A89F;
    --colorheader: #F9F7F2;
    --color: #fff;
    --fuente1: "Bebas Neue";
    --fuente2: "Montserrat";
}

/**estilización**/

.principal {
	width: 1366px;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

html {
    font-size: 62,5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/**generales**/


body {
    background: linear-gradient(360deg, rgba(230, 205, 234, 1) 25%, rgba(250, 248, 242, 1) 72%);
    line-height: 1.5;
}

ul, li {
    list-style: none;
}

#ofertas-title {
    color: var(--colorT2);
    text-align: center;
}

h1,h2,h3,a {
    font-family:var(--fuente1);
    text-decoration: none;
}

h2 {
    font-size: 2.5rem;
}


.oferta {
    color: var(--colorT2);
}

p {
    font-family: var(--fuente2);
    color: var(--colortxt_T1);
    font-size: 1rem;
}

a {
    color: var(--color);
    font-size: 1.4rem;
}

h1,h2,h3 {
    color: var(--colortxt_T1);
}



/* Header */

.inicio {
    width: 2rem;
}

.cart_ses {
    display: flex;
    margin-right: 3rem;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: center;
}

.logo__mystica {
    width: 12rem;
    height: auto;
    margin: 2rem;
}

.buscador_ {
    width: 30rem;
    margin-left: 8rem;
    margin-right: 1rem;
}

.boton__b {
    background-color: var(--colorA);
    border: none;
    width: 6rem;
}

.boton__b:hover {
    background-color:#ab0431;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--colornav_f);
    margin: auto;
    font-family: var(--fuente1);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav > li {
    position: relative;
}

.nav li a {
    color: var(--color);
    text-decoration: none;
    padding: 0.625rem 0.937rem;
    display: block;
    text-align: center;
}

.nav li a:hover {
    color:var(--colorA);
}

.nav li ul {
    display: none;
    position: absolute;
    left: 0;
    min-width: 15rem;
    background-color: var(--colorheader);
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 0;
    border: none;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    left: 100%;
    top: 0;
    margin-left: 0.03rem;
}

.nav li ul li:hover > ul {
    display: block;
}

.selected {
    color: var(--colorheader) !important;
}

/**main*/

.hero__text {
    background-image: url(../assets/hero-desk.png);
    background-repeat: no-repeat;
    height: 35rem;
}
h1 {
    margin-left: -1000rem;
}

/**index**/

.parrafo_index {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;

}

.container,.text-center {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.card_productos {
    background-color: var(--color);
    width: 14rem;
    height: 24rem;
    border-radius: 1.5rem;
    text-align: center;
    margin: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card__ofertaimg {
width: 14rem;
height: auto;
flex-shrink: 0;
border-top-left-radius: 1.5rem;
border-top-right-radius: 1.5rem;
}

.quiero_btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    width: 9rem;
    background-color: var(--colorA);
    color: var(--color);
    font-family: var(--fuente2);
    font-size: 1rem;
    font-weight: 600;
}

.card__h3 {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.ofertas_btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    width: 15rem;
    background-color: var(--colorA);
    color: var(--color);
    font-family: var(--fuente2);
    font-size: 1rem;
    font-weight: 600;
}

.btn__oferta {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.productosm {
    display: inline-block;
    border-style: none;
    margin: 1rem;
}

.catalogo {
    margin-left: 6rem;
    margin-bottom: 4rem;
    
}

.card__img {
    width: 20rem;
}

.catalogo_txt {
    text-align:center;
    margin-top: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.container__newsletter {
    background-color: var(--colorbox);
    height: 18rem;
}

.newsletter__logo {
    width: 14rem;
    height: auto;
    margin-left: -12rem;
    margin-top: 2rem;
}

.news {
    margin-right: 2rem;
    margin-top: 3rem;
}

.btn_suscribirme {
    background-color: var(--colorA);
    border-radius: 0.5rem;
    border: none;
    color:var(--color);
    font-family: var(--fuente2);
    font-weight: 600;
    height: 2.5rem;
}

.news__form {
    margin-left: -2rem;
}
.redes {
    text-align: center;
}

.redes_container {
    display: block;
    align-items: baseline;
}

.redes__logo {
    width: 6rem;
    height: auto;

}

.img__redes {
    width: 8rem;
    margin: 6rem 6rem 0.5rem 6rem;
}

.marcas__h {
    margin-bottom: 6rem;
    margin-top: 6rem;
    text-align: center;
}

.marcas__img {
    width: 8rem;
}

.container__marcas {
    background-color: var(--colorbox);
    margin: 6rem 0 6rem 0;
}

.marcas__index {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

/**productos**/

.containter__productos {
    display: flex;
    gap: 3rem;
}

.productos_h {
    text-align: center;
    margin-left: 6rem;
    margin-bottom: 3rem;

}

.aside__a {
    color: var(--colortxt_T1);
}

.aside_h {
    margin-left: 1rem;
}

/**preguntas-frecuentes**/

.container__preguntas {
    margin-bottom: 8rem;
    padding-left: 6rem;
    padding-right: 20rem;
}

.h_pfrecuentes {
    color: var(--colorT2);
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-size: 2.5rem;
}

/**sobre nosotros**/

.nosotros__txt {
    text-align: justify;
    padding-left: 15rem;
    padding-right: 15rem;
    margin-bottom: 6rem;
}

.nosotros__2 {
    color: var(--colorT2);
}


.opiniones_img {
    height: 6rem;
    width: 6rem;
    padding: 0.2rem;
    border-radius: 3rem;
}

.opinion {
    margin-top: 1rem;
    text-align: justify;
    font-family: var(--fuente2);
}

.h__opiniones {
    text-align: center;
    margin-bottom: 3rem;
}

.container__opiniones {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

.card__opiniones {
    padding: auto;
    border-radius: 1rem;
    border: none;
    background-color: var(--color);
    margin: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contenido__opiniones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3.5rem;
}

.info {
    margin: 1rem;
}


/**contacto**/

.contactoph {
    text-align: center;
}

.formulario {
    background-color: #F4A89F;
    display: inline-block;
    margin: auto;
    height: 40rem;
    width: 35rem;
    border-radius: 1rem;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


label {
    display: block;
    margin-left: 5rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--colortxt_T1);
}

input[type=text], input[type=tel], input[type=email] {
  width: 25rem;
  padding: 0.5rem;
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  margin-left: 5rem;
  margin-top: 0.5rem;
  
}

.textarea {
    margin-left: 5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    font-style: italic;
    color: #939090;

}

/**footer**/

.derechos {
    background-color: var(--colorf);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.derechos__p {
    font-family: var(--fuente2);
    font-style: italic;
    color: var(--color);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.footer {
    display: flex;
    align-items:baseline;
    background-color: var(--colornav_f);
}

.logo__footerimg {
    width: 15rem;
    height: auto;
    margin: 2rem;
}

.footer_h {
    color: var(--color);
    font-size: 2rem;
    margin-top: 1rem;
    
}

.footer__a {
    font-size: 1.5rem;
}
.footer_ip,.footer_ie {
    height: 2rem;
    width: auto;
}

.footer__containerpago,.footer__containerenvio {
    margin-bottom: 2rem;
}

.footer__container,.footer__nav,.footer__redes {
    margin:auto;
}

.footer__redesul {
    display: flex;
    gap:1rem;
}

.f__ig {
    display: flex;
    background-image:url(../assets/instagram_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    color: transparent;
}

.f__tk {
    display: flex;
    background-image:url(../assets/tiktok_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
}

.f__fb {
    display: flex;
    background-image:url(../assets/facebook_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    
}

@media screen and (max-width:600px) {

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    h5 {
        font-size: 1.2rem;
    }

    .navbar {
        font-size: 1.2em;

    }

    .nav li ul {
        min-width: 8rem;
        
    }

    .header {
    display:flex;
    flex-direction: column;
    max-width: 480px;
    }

}