@use "variables" as v;
@use "mixins" as m;

html {
    font-size: 62,5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(360deg, rgba(230, 205, 234, 1) 25%, rgba(250, 248, 242, 1) 72%);
    line-height: 1.5;
}

ul{
    li {
        list-style: none;
} 
}

h1,h2,h3,a {
    font-family:v.$fuenteprincipal;
    text-decoration: none;
}

p {
    font-family: v.$fuentesecundaria;
    color: v.$colortxt_T1;
    font-size: 1rem;

    @include m.mobile {
        font-size: 1rem;
    }
}

a {
    color: v.$color;
    font-size: 1.4rem;
}

h1,h2,h3 {
    color: v.$colortxt_T1;
}

h2 {
    font-size: 2.5rem;

    @include m.mobile {
        font-size: 2rem;
    }
}

h3 {
    @include m.mobile {
        font-size: 1.5rem;
    }
}

h4 {
    @include m.mobile {
        font-size: 1.25rem;
    }
}

h5 {
    @include m.mobile {
        font-size: 1.2rem;
    }
}

.oferta {
    color: v.$colorT2;
}

#ofertas-title {
    color: v.$colorT2;
    text-align: center;
}

.principal {
	width: 1280px;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include m.tablet {
        width: 800px;
        border: none;
    }

    @include m.mobile {
        width: 600px;
        border: none;
    }
}
