// Fuentes

$fuenteprincipal:"Bebas Neue";
$fuentesecundaria:"Montserrat";

//Colores
$colortxt_T1:#262626;
$colorT2:#FC7753;
$colorT2: #FC7753;
$colorA: #E01A4F;
$colornav_f: #BE95C4;
$colorf: #7D5B82;
$colorbox: #F4A89F;
$colorheader: #F9F7F2;
$color: #fff;
$colorH:#ab0431;

//Media querys

$mobile:480px;
$tablet:768px;
$desktop:1024px;

//Unidades

$separacion:5rem;

